{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 4"]
      }
    }],
    "es2015",
    "vue",
    "stage-2",
    "stage-3"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime","transform-es2015-arrow-functions"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node","transform-es2015-arrow-functions"]
    }
  }
}
